{% extends 'novel/base.html' %}
{% block content %}
{% load static %}
    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header1">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">About Us</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    {% comment %} <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                            <h5 class="mb-3">Skilled Instructors</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                            <h5 class="mb-3">Online Classes</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-home text-primary mb-4"></i>
                            <h5 class="mb-3">Home Projects</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                            <h5 class="mb-3">Book Library</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End --> {% endcomment %}


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="{% static 'images/about2.jpg' %}" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                    <h1 class="mb-4">Welcome to Novel Academy</h1>
                    <p class="mb-4">Welcome to the Novel Academy website which provides a snapshot of what Novel Academy is all about. It will also keep you informed about our busy, and exciting academic calendar and program.</p>
                    
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Cambridge International Examinations</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Safty First</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <section class="ftco-section ftco-no-pt ftc-no-pb">
        <div class="container">
            <div class="row">
                <div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
                    <div class="text px-4 ftco-animate">
            <h2 class="mb-4">------</h2>
            <p> 
                        also offers daycare (for 3 months) and afterschool (for students 3-12 years) who may not be our students. 
                        As an international school of choice, Novel Academy prides itself on excellence in academic and extracurricular activities.
                        If you are a prospective parent of student, please contact Novel Academy to arrange a tour of the school.</p>
                    </div>
                </div>
                <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                        
                        <p>Novel Academy is a family school, which aims to be the international school of choice. As a hybrid school, In Novel Academy our programs are designed to provide students with the mastery of the fundamental concepts necessary for achievement in each academic subject area. Novel Academy offers the GES and the British curriculum Programme for preschool to Grades School in a residential school environment at the Campus Adjacent AdomCity Estate Community 26. Novel Academy</p>
                        
                    
                </div>
            </div>
        </div>
    </section>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">MISSION</h6>
            </div>
        </div>
    </div>
    <section class="ftco-section ftco-no-pb">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-2">
        <div class="col-md-8 text-center heading-section ftco-animate">
        <p>To champion a new way of learning that prepares minds, transform hearts and develops the spirit of inquiry in all our students as basic tool for encouraging critical thinking and powering hands to impact the society.</p>
        </div>
        </div>
    </div>	
    </section>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">VISION</h6>
            </div>
        </div>
    </div>
    <section class="ftco-section ftco-no-pb">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-2">
        <div class="col-md-8 text-center heading-section ftco-animate">
        <p>To build a tradition of excellence and Godliness in our students, that integrates academic achievements and principles of integrity to enhance the transformation of Ghana, Africa and the world at large.</p>
        </div>
        </div>
    </div>	
    </section>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">CLASSES</h6>
            </div>
            <p>We have a small classroom concept with a maximum intake of 15 learners per class. An enabling environment is created for our Novatores to extend their existing skills and develop confidence through computer training, developing reading and writing skills, knowledge of basic mathematics, and provoke the power of imagination and innovation. The broad curricula for these units are centered on the following guidelines: </p>
            <div class="row gy-2  text-center gx-4 mb-4">
				<div class="col-sm-6">
					<p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Communication, Language proficiency and Literacy</p>
				</div>
				<div class="col-sm-6">
					<p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Personal, Social and Emotional Development</p>
				</div>
				<div class="col-sm-6">
					<p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Physical Development</p>
				</div>
				<div class="col-sm-6">
					<p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Creativity and innovation</p>
				</div>
                <div class="col-sm-6">
					<p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Mathematics and critical thinking</p>
				</div>
                <div class="col-sm-6">
					<p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Knowledge and Understanding of the World.</p>
				</div>
			</div>
        </div>
    </div>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Objectives</h6>
            </div>
            <p>We have a small classroom concept with a maximum intake of 15 learners per class. An enabling environment is created for our Novatores to extend their existing skills and develop confidence through computer training, developing reading and writing skills, knowledge of basic mathematics, and provoke the power of imagination and innovation. The broad curricula for these units are centered on the following guidelines: </p>
            <div class="row gy-2  text-center gx-4 mb-4">
				<div class="col-sm-6">
					<p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>To provide quality but affordable education to all</p>
				</div>
				<div class="col-sm-6">
					<p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>To develop students spiritually, mentally, physically and skillfully for great leadership and development.</p>
				</div>
				<div class="col-sm-6">
					<p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>To encourage and develop cooperation and team work</p>
				</div>
				<div class="col-sm-6">
					<p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>To impact the now and next generation positively with the gospel of Jesus Christ</p>
				</div>
                <div class="col-sm-6">
					<p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>To give hope to the special and challenged children without discrimination</p>
				</div>
			</div>
        </div>
    </div>
        {% include "novel/footer.html" %}
    {% endblock content %}