{% extends 'novel/base.html' %}
{% block content %}
{% load static %}
	<div class="container-fluid bg-primary py-5 mb-5 page-header2">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">ADMISSION</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="{% url 'novel:home' %}">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">admission</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
	
	<section class="ftco-section ftco-no-pb">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
		<div class="col-md-8 text-center heading-section ftco-animate">
		<h2 class="mb-4"><span>ADMISSION POLICY</span></h2>
		<p>Our Admissions Team undertakes a thorough admissions process to ensure we have as clear a picture as possible of each learner’s individual strengths, weaknesses, personality, learning style and any special needs they may have. This helps ensure that facilitators can tailor their lessons to the needs of individual students and helps us effectively track learner progress.</p>

		<p>To apply, parents can either visit us in person or begin by filling out the pre-entry enquiry form* online. The Academy’s detailed Admissions Policy can be found below:</p>

		<div class="col-md-3 d-flex align-items-center">
			<a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">ADMISSION POLICY</a>
		</div>
		</div>
		</div>
	</div>	
	</section>
	<div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">ASSESSMENT DAYS</h6>
                <h1 class="mb-5">PRESCHOOL</h1>
            </div>
            
        </div>
    </div>
	<section class="ftco-section ftco-no-pb">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
		<div class="col-md-8 text-center heading-section ftco-animate">
		<p>For Preschool, this assessment is in the form of a short questionnaire  for parents and an informal interview with the learner. An appointment for this is arranged between the Academy and parent</p>
		</div>
		</div>
	</div>	
	</section>
	<section class="ftco-section ftco-no-pt ftc-no-pb">
		<div class="container">
			<div class="row">
				<div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
					<div class="text px-4 ftco-animate">
						<h2 class="mb-4"><h2 class="mb-4"></h2></h2>
						<p>A follow up interview  and meeting is also arranged to discuss all our observations and the  learning plan that will be put in place for your learner moving forward.  This process helps our teachers to tailor their lessons to the specific  needs of each student, track their progress, and in design intervention  for struggling students.</p>
						<p>A ‘Welcome to Novel’ orientation is  arranged for all new parents ahead of the new academic year, and for all new learners to give them a proper introduction to and understanding of our programs, school values, what we expect from them, and  what we expect from parents. </p>
					</div>
				</div>
				<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
		<h2 class="mb-4">PRIMARY & SECONDARY</h2>
					<p> For Years 5+, this assessment is in the form an Assessment Day, which  involves written aptitude tests (qualitative and quantitative), a  general observation and group tasks with peers. </p>
					<p>A follow up interview  and discussion are also arranged, and provisions made for the learner.</p>
					<p>The  Assessment Day gives us a chance to observe the overall behaviour, habits, and learning skills of your child. There will be a short recess in  between each test, and a lunch break in the afternoon. Lunch will be  provided by the Academy.</p>
					<p>There is no specific preparation required ahead of the assessment.  However, since each test is designed to assess information that we hope our learners know at each level at Novel, your child may generally revise his/her notes from their most-recent academic year.</p>
				</div>
			</div>
		</div>
	</section>
	<div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">ADMISSION PROCESS</h6>
                <h1 class="mb-5">PRESCHOOL</h1>
            </div>
            <div class="row gy-2  text-center gx-4 mb-4">
				<div class="col-sm-6">
					<p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Fill out the pre-entry enquiry form here or at our office.</p>
				</div>
				<div class="col-sm-6">
					<p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Your ward attends an assessment day.</p>
				</div>
				<div class="col-sm-6">
					<p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Enrolment & Fees Payment.</p>
				</div>
				<div class="col-sm-6">
					<p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>A Student Identification Number will be generated for your ward.</p>
				</div>
				<div class="col-md-3 d-flex align-items-center">
					<a href="https://docs.google.com/forms/d/e/1FAIpQLScmGESnn72uy-KvgVgGJH8fE5OpQdDpRW_LlAPqyxHfKERvOg/viewform?usp=sf_link" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">PRE-ENTRY ENQUIRY FORM</a>
				</div>
			</div>
        </div>
    </div>
	<div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">ADMISSION PROCESS</h6>
                <h1 class="mb-5">PRIMARY & SECONDARY</h1>
            </div>
            <div class="row gy-2  text-center gx-4 mb-4">
				<div class="col-sm-6">
					<p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Fill out the pre-entry enquiry form here or at our office.</p>
				</div>
				<div class="col-sm-6">
					<p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Your ward attends an assessment day.</p>
				</div>
				<div class="col-sm-6">
					<p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Enrolment & Fees Payment.</p>
				</div>
				<div class="col-sm-6">
					<p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>A Student Identification Number will be generated for your ward.</p>
				</div>
				<div class="col-md-3 d-flex align-items-center">
					<a href="https://docs.google.com/forms/d/e/1FAIpQLScmGESnn72uy-KvgVgGJH8fE5OpQdDpRW_LlAPqyxHfKERvOg/viewform?usp=sf_link" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">PRE-ENTRY ENQUIRY FORM</a>
				</div>
			</div>
        </div>
    </div>
    <!-- Courses End -->
	
	{% include 'novel/footer.html' %}

	{% endblock content %}
