{% extends 'novel/base.html' %}
{% block content %}
{% load static %}
	<div class="container-fluid bg-primary py-5 mb-5 page-header5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">PRIMARY</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="{% url 'novel:home' %}">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Primary</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
		
	<section class="ftco-section ftco-no-pb">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
		<div class="col-md-8 text-center heading-section ftco-animate">
		<h2 class="mb-4"><span>OUR PRIMARY STAGES</span></h2>
		<p>In compliance with Pearson International education structures, this department has two divisions:</p>

		<p>A.	KEY STAGE 1 – YEARS 1 & 2 </p>
		<p>B.	KEY STAGE 2 – YEARS 3 – 6</p>


		<p>Each class has a maximum of 20 learners and 2 streams.</p>

		<p>The Pearson International curriculum provides teachers with an international benchmark that guides teaching and makes the tracking of learners’ progress against outlined objectives possible. This feeds into detailed and structured reporting to parents.</p>

		<p>In addition to the core subjects – English, Mathematics and Science – learners are exposed to a variety of learning experiences through the study of History, Geography, ICT, Music, Art & Design, and French. The outcome of these experiences is the development of crucial learner skills and a strong foundation for secondary education.  </p>

		<p>Our vast and targeted co-curricular offering encourages learner creativity and fosters their individual talent. STEM, Chefs, Ballet, Swimming, Taekwondo, Debate, Languages, Dance, Creative Arts and Photography are only a few offerings learners can choose from. </p>
		
		</div>
	</div>	
	</section>
	
	{% include 'novel/footer.html' %}

	{% endblock content %}
