{% extends 'novel/base.html' %}
{% block content %}
{% load static %}
	<div class="container-fluid bg-primary py-5 mb-5 page-header6">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">About Us</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="{% url 'novel:home' %}">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Preschool</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
	<section class="ftco-section ftco-no-pb">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
		<div class="col-md-8 text-center heading-section ftco-animate">
		<h2 class="mb-4"><span>PRESCHOOL</span></h2>
		<p>Our preschool campus in community 25 is located
			just a few steps away from our main campus.</p>

		<p>Admissions are for ages 1 – 5.
			From here, they move on to primary school.</p>


		<p>It is our goal to support independence and encourage personal responsibility. We achieve this by giving children opportunities to explore movement, dress up by themselves, choose what they want to do and under adult supervision, perform challenging tasks that will develop and stretch their imagination.</p>

		<p>When they are able to achieve this, there is an increase in their self-belief, self-confidence and self-esteem that they will need for life.</p>

		</div>
	</div>	
	</section>
	<section class="ftco-section ftco-no-pb">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
		<div class="col-md-8 text-center heading-section ftco-animate">
		<h2 class="mb-4"><span>NURSERY 1 & NURSERY 2 </span></h2>
		<p>The ages for Skylarks and Bluebirds are 2-3 years and 3-4 years respectively, with a maximum intake of 15 learners per class. The focus in these units is develop their Literacy, Mathematics and Expressive Arts & Design skills. There’s an additional focus on expanding their understanding of the world around them through arts & crafts, drama, music, reading and games. </p>

		<h2 class="mb-4"><span>RECEPTION</span></h2>

		<p>The ages for Sparrows are 4-5 years, with a maximum intake of 15 learners per class. An enabling environment is created for our Sparrows to extend their existing skills and develop confidence through computer training, construction of sentences, knowledge of basic mathematics, and imaginative play. The broad curricula for these units are centred on the following guidelines:</p>

		<p>Communication, Language and Literacy</p>
		<p>Personal, Social and Emotional Development</p>
		<p>Physical Development  </p>
		<p>Creative Development</p>
		<p>Mathematical Development</p>
		<p>Knowledge and Understanding of the World </p>
		
		</div>
	</div>	
	</section>
	{% include 'novel/footer.html' %}

	{% endblock content %}
